@{
    ViewBag.Title = "Participant Exit Form";
}

<div class="row" ng-controller="ParticipantInvitationView" ng-grant-application-id="@ViewBag.GrantApplicationId">
    <div class="row">
        @Html.ActionLink("Return", "GrantFileView", "Reporting", new { grantApplicationId = ViewBag.GrantApplicationId }, new { @class = "link--back" })
    </div>

    <program-title-label ng-model="model"></program-title-label>

    <div class="grant-files">
        <div class="margin-bottom container-full-width">
            <h2>Participant Exit Form</h2>
            <div ng-if="alert.message" class="row row--alert">
                <div class="alert" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message"></div>
            </div>

            <div>
                <p>
                    The Exit Link must be forwarded to participants on the last day of training. This is a requirement under your contract with the Province. Please forward the link below to all participants who have completed training.
                </p>
                <p><a href="@ViewBag.ExitInvitationUrlLink">@ViewBag.ExitInvitationUrlLink</a></p>

                <div class="wrapper--btn">
                    <button type="button" class="btn btn--primary copy-to-clipboard" data-clipboard-text="@ViewBag.ExitInvitationUrlLink">Copy Link</button>
                </div>
            </div>
        </div>
    </div>
</div>
